# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/test/BERT_test/output/
.python-version
/datasets/
/predict_result/
/train_result/
/test/preprocessing/feature/
